{{#active}}
  <h2>{{title}}</h2>

  {{#description}}
    <div class="description">{{{description}}}</div>
  {{/description}}

  {{#exercises}}
    {{^skip_entry}}
      <ul class="exercise">
        <li>
          {{^show_solution}}
            {{> _question}}
          {{/show_solution}}

          {{#show_solution}}
            {{> _solution}}

            {{#self_test}}
              {{#solving_allowed}}
                {{> _reset_exercise}}
              {{/solving_allowed}}
            {{/self_test}}
          {{/show_solution}}
        </li>
      </ul>
      {{/skip_entry}}
  {{/exercises}}

  {{^exercises}}
    {{#i18n}}Keine Aufgaben.{{/i18n}}
  {{/exercises}}
{{/active}}

{{^active}}
  {{> _vips_deactivated}}
{{/active}}
