{{#active}}
  
  <h2 class="testblock-header">{{title}}</h2>
  
  {{#description}}
    <div class="description">{{{description}}}</div>
  {{/description}}

  {{#exercises}}
    {{^skip_entry}}
      <ul class="exercise" id="exercise{{exercise_index}}">
        <li>
          <div class="exercisetitle">
              <button name="exercisenav" class="exercisenavbutton exercisenavback" button-data='{"id":"{{exercise_index}}", "numexes": "{{number_of_exercises}}", "direction": "back" }'></button>
              Frage {{exercise_index}} / {{number_of_exercises}}
              <button name="exercisenav" class="exercisenavbutton exercisenavnext" button-data='{"id":"{{exercise_index}}", "numexes": "{{number_of_exercises}}" , "direction": "next"}'></button>
          </div>

          <div class="exercise-content">
          {{#solved_completely}}
              <div class="messagebox messagebox_success">
                  {{#i18n}}Danke! Sie haben alle Aufgaben gelöst und können nun mit dem nächsten Abschnitt fortfahren.{{/i18n}}
              </div>
          {{/solved_completely}}

          {{^show_solution}}
            {{> _question}}
          {{/show_solution}}

          {{#show_solution}}
            {{> _solution}}

            {{#self_test}}
              {{#solving_allowed}}
                {{> _reset_exercise}}
              {{/solving_allowed}}
            {{/self_test}}
          {{/show_solution}}
        </li>
      </ul>
      {{/skip_entry}}
  {{/exercises}}

  {{^exercises}}
    {{#typemismatch}}
        <p>Der Aufgabentyp hat sich geändert. Bitte wenden Sie sich an Ihren Dozenten.</p>
    {{/typemismatch}}
    {{^typemismatch}}
        {{#i18n}}Keine Aufgaben.{{/i18n}}
    {{/typemismatch}}
  {{/exercises}}

  {{^exercises_available}}
    <p>Es gibt momentan keine Aufgaben, die zum Bearbeiten zur Verfügung stehen.</p>
  {{/exercises_available}}
{{/active}}

{{^active}}
  {{> _vips_deactivated}}
{{/active}}
